body {
    background-color:   #adb9af;
    align-items: center;
    text-align: center;
}

h1 {
    margin-left: 2%;
    margin-bottom: 1%; 
    margin-top: 2%;
    color: rgb(219, 219, 219);
    text-shadow: 4px 4px rgb(12, 70, 12);
    font-family: "stone";
    font-size: 140px;
}

h2{
    font-family: "stone";
    font-size: 36px;
    color: rgb(102, 99, 99);
}

h3{
    font-family: "stone";
    color: rgb(102, 99, 99);
}

@font-face {
    font-family: "stone";
    src: url('./fontes/stoNe.ttf') format ('truetype');
}

button{
    font-size: 20px;
    font-family: "stone";
    background-color:  #adb9af;
    padding: 20px;
    color:  rgb(102, 99, 99);
    border-color: rgb(219, 219, 219);
    box-shadow: 0px 4px 12px 0px  rgb(131, 130, 130), 0 6px 20px 0  rgb(131, 130, 130);
    margin-right: 6px; /* Espaço à direita de cada botão */
    margin-bottom: 20px; /* Espaço abaixo de cada botão */
    
}