*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;

}

/* paleta de cores do site e o tamanho de fontes que sera usado */
:root{
    --bg-color:  #adb9af;
    --text-color: #fff;
    --second-text-color:  #3b3b3b;
    --main-color: rgb(17, 104, 17);
    --other-color: #7cff9d;
    --h1-font: 4rem;
    --p-font: 1rem;

}

body{
    background-color: rgb(157, 173, 157);
    color: var(--text-color);
}

header{
    width: 100%;
    height: 80px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 30px 8%;
    background-color: rgb(126, 153, 126);
    color: var(--text-color);
}


.logo{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 28px;
    font-weight: bold;
     
}

.logo i{
    color: var(--main-color);
    margin-right: 5px;
    font-weight: bold;
}

.navegação{
    display: flex;
    margin-right: 100px;
}

.navegação a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-size: 20px;
    margin: 0 30px;
    transition: a .55s ease;
}

.navegação a:hover{
    color: var(--main-color);
}


h1 {
    margin-left: 2%;
    margin-bottom: 1%; 
    margin-top: 2%;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px rgb(12, 70, 12);
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
}

h2{
    color: var(--text-color);
    text-shadow: 2px 2px var(--main-color);

    font-size: 30px;
}
p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: 16px;
}


.cadastro-form {
    width: 480px;
    height: 480px;
    margin: 0 auto;
    color: var(--text-color);
    background-color: rgb(126, 153, 126);
    font-family: 'Poppins', sans-serif;
    border-color: var(--main-color);
    border-width: 1px;
    border-style: solid;
    text-align: center;
    border-color: white;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}


input {
    font-family: 'Poppins', sans-serif;
    border-color: rgb(219, 219, 219);
    font-size: 18px;
    width: 380px;
    height: 34px;
    margin-top: 14px;
    border-color: white;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}


button{
    width: 200px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-right: 4px;
    margin-left: 4px;
    background-color:   var(--main-color);
    color: var(--text-color);
    border-color: var(--main-color);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.link_login{
    color: rgb(12, 70, 12);
    font-family: 'Poppins', sans-serif;
}

footer{
    color: rgb(90, 90, 90);
}