body {
    background-color:   #adb9af;
    align-items: center;
    text-align: center;
}

h1 {
    margin-left: 2%;
    margin-bottom: 1%; 
    margin-top: 2%;
    color: rgb(219, 219, 219);
    text-shadow: 4px 4px rgb(12, 70, 12);
    font-family: "stone";
    font-size: 138px;
}
p{
    font-family: "stone";
    font-size: 21px;
    color: rgb(102, 99, 99);
}

@font-face {
    font-family: "stone";
    src: url('./fontes/stoNe.ttf') format ('truetype');
}
input{
    font-family: "stone";
    background-color:   #adb9af;
    border-color: rgb(219, 219, 219);
    font-size: 15px;
    height: 28px;
    width: 280px;
}
.login-form {
    width: 495px;
    margin: 0 auto;
    padding: 45px;
    color:  rgb(102, 99, 99);
    font-size: 22px;
    font-family: "stone";
    background-color:  #adb9af;
    box-shadow: 0px 4px 12px 0px  rgb(102, 99, 99), 0 6px 20px 0  rgb(102, 99, 99);
    border-color: rgb(102, 99, 99);
    border-width: 1px;
    border-style: solid;
}

button{
    font-size: 25px;
    font-family: "stone";
    margin-right: 4px;
    margin-left: 4px;
    background-color:   #adb9af;
    border-color: rgb(219, 219, 219);
    color: rgb(102, 99, 99);
}

.link_cadastro {
    color: rgb(12, 70, 12);
    font-family: "stone";
}

footer{
    color: rgb(102, 99, 99);
    font-size: 23px;
}