<!-- lista de armarios disponiveis ou gavetas ou carregadores -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alugar</title>
    <link rel="stylesheet" href="styleAlugar.css">
</head>
<body>
    <% carregadores.forEach ((carregador) => {%>
    <button>
        <h3><%= carregador.marca %></h3>
        <span><%= carregador.status %></span>
        <span><%= carregador.nomeArmario %></span>
        <span>Tipo de carregador: 
            <span><%= carregador.tipo %></span>
        </span>
    </button>
    <% })%>

</body>
</html>