<!-- lista de armarios disponiveis ou gavetas ou carregadores -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alugar</title>
    <link rel="stylesheet" href="styleAlugar.css">
</head>
<body>
    <h1>Selecione um armário:</h1>
    <br>
    <button>
        <h3>Armario01</h3>
        <span>Disponivel</span>
        <span>Tipo de carregador: 
            <span>Type C</span>
        </span>
    </button>
    <button>
        <h3>Armario02</h3>
        <span>Disponivel</span>
        <span>Tipo de carregador: 
            <span>Type C</span>
        </span>
    </button>

   <button>
        <h3>Armario03</h3>
        <span>Disponivel</span>
        <span>Tipo de carregador: 
            <span>Type C</span>
        </span>
    </button>
    <button>
        <h3>Armario04</h3>
        <span>Disponivel</span>
        <span>Tipo de carregador: 
            <span>Type C</span>
        </span>
    </button>
    <button>
        <h3>Armario05</h3>
        <span>Disponivel</span>
        <span>Tipo de carregador: 
            <span>Type C</span>
        </span>
    </button>
    <button>
        <h3>Armario06</h3>
        <span>Disponivel</span>
        <span>Tipo de carregador: 
            <span>Type C</span>
        </span>
    </button>
    <button>
        <h3>Armario07</h3>
        <span>Disponivel</span>
        <span>Tipo de carregador: 
            <span>Type C</span>
        </span>
    </button>
    <button>
        <h3>Armario08</h3>
        <span>Disponivel</span>
        <span>Tipo de carregador: 
            <span>Type C</span>
        </span>
    </button>
</body>
</html>