<!-- lista de armarios disponiveis ou gavetas ou carregadores -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área de alugar - ChargerHelp</title>
    <link rel="stylesheet" href="styleAlugar.css">
</head>

<body>
    <h1>ChargerHelp</h1>
    <h2>Seleção de armários</h2>
    <br>
    <% carregadores.forEach ((carregador)=> {%>
        <button>
            <h3>
                <%= carregador.marca %>
            </h3>
            <span>
                <%= carregador.status %>
            </span>
            <span>
                <%= carregador.nomeArmario %>
            </span>
            <span>Tipo de carregador:
                <span>
                    <%= carregador.tipo %>
                </span>
            </span>
        </button>
        <% })%>
</body>

</html>