<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styleCadastro.css">
    <title>Área de Cadastro - ChargerHelp</title>
</head>
<body>
        <header>
            <a href="#" class="logo"><i class='bx bx-plus-circle'></i>ChargerHelp</a>
            <ul class="navegação">
                <li><a href="login">Login</a></li>
            </ul>
        </header>

            
    <br>
    <main>
        <div class="cadastro-form">
            <form action="/cadastrar" method="post">
                <br>
                <h2>ChargerHelp</h2>
                <br>
                <input type="text" id="nome" name="nome" maxlength="40" required placeholder=" Digite seu nome" autocomplete="off">
                
                <input type="email" id="email" name="email" maxlength="40" required placeholder=" Digite seu Email" autocomplete="off">
                <input type="text" id="cpf" name="cpf" required pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder=" Digite seu CPF" autocomplete="off">
                <input type="tel" id="telefone" name="telefone" required pattern="\(\d{3}\) \d{5}-\d{4}" placeholder=" Número de telefone" autocomplete="off">
                <input type="password" id="Senha" name="Senha" required minlength="8" placeholder=" Crie uma senha de no mínimo 8 dígitos" autocomplete="new-password">
                <p>Já possui uma conta? <a class="link_login" href="login">Entrar</a></p>
                <br>
                <button type="submit">Cadastrar</button>
            </form>
        </div>
        <br>
    </main>
    <br><br>
    <footer>
        <p>&copy; 2023 ChargerHelp</p>
    </footer>
</body>
</html>
