<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Área de cadastro</title>
    
    <link rel="stylesheet" type="text/css" href="styleCadastro.css"/>
</head>
<body>
    <h1>ChargerHelp</h1>
    <h2>Área de cadastro</h2>
    <div class="cadastro-form">
    <form action="processar_cadastro.php" method="post">
        <input name="nome" id="nome" type="text" maxlength="40" required placeholder="Nome">
        <br><br>
        <input name="email" id="email" type="text" maxlength="40" required placeholder="E-mail">
        <br><br>
        <input type="text" id="cpf" name="cpf" type="number" required pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" required placeholder="CPF = 123.456.789-00"><br><br>
        <br>
        <button type="submit">Cadastrar</button>
    </form></div>
</body>
</html>

