<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

    <title>ChargerHelp</title>
</head>

<body>
    <header>
        <a href="#" class="logo"> <i class='bx bx-plus-circle'></i></a>

        <ul class="navegação">
            <li><a href="#">Cadastro</a></li>
            <li><a href="#">Login</a></li>
        </ul><!--navegação -->

    </header>

    </form>
</body>

</html>