<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styleLogin.css">
    <title>login - ChargerHelp</title>
</head>

<body>
    <h1>ChargerHelp</h1>
    <br><br>
    <div class="login-form">
         <form method="post" action="/fazerLoginCliente">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" maxlength="40" required >
                <br><br>

                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" maxlength="20" required >
                <br><br>

                <button type="submit">Entrar</button>
            </form>
        </div>
        <br>
        <p>Não possui um cadastro? <a class="link_cadastro" href="cadastro">Clique aqui para se cadastrar</a></p>
    </main>
    <footer>
        <p>&copy; 2023 ChargerHelp</p>
    </footer>
</body>

</html>
